Body {
    margin: 0;
}

p {
color: grey;
margin-top: 172px;
}



/*Class*/

/*Banner*/

.back-head-images {
position: relative;
margin: 0 auto;
max-width: 1199px;
min-width: 755px;
top: -10px;
}

.freedom-falcon {
display: block;
height: 160px;
position: absolute;

}

.mighty-pinata {
display: block;
height: 160px;
position: absolute;
top: 0;
right: 100px;
}

.banner-logo {
position: relative;
    display: block;
    margin: 0 auto 5px;
    width: 738px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #0b57a3;
    background-image: url("https://raw.githubusercontent.com/OptiPrime64/funsizejustice/master/images/fsj_banner_background.png");
    padding: 10px 0 6px;
    text-align: center;
    background-position:center;
    background-size:200px;}
}

.all-header-links {
    width: 75%;
    margin: auto;
position: relative;
}

.header-link {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 25px;
}

.header-link:hover {
color: #ed1c24;
}

/*Comic Nav*/

.comic {
display: block;
margin: 175px auto auto;
}

.page-scroll {
text-align: center;
    font-size: 12px;
    width: 75%;
    margin: auto auto 23px;
   
}

.page-link {
    text-decoration: none;
    color: #0b57a3;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 4px;
}

.page-link:hover {
color: #5987c6;
}

.dots {
display: inline;
color: #c6d6eb;
}

/*Bottom*/

.bottom {

 background-image: url("https://raw.githubusercontent.com/OptiPrime64/funsizejustice/master/images/fsj_banner_background.png");
text-align: center;
padding-top: 18px 0 5px;
}

.testbutton {

  line-height: 5;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #0b57a3 !important;
  font-size: 16px;
  padding: 11px 20px;
  border-radius: 11px;
  background: #FFFFFF;

  margin: 30px auto 50px;
}
.testbutton:hover {
  color: #0b57a3 !important;
  background: #5987c6;
}

.copyright {
margin-top: 18px;
    
    margin: auto;
    font-size: 12px;
    color: #FFFFFF;
}