Body {
	margin: 0;
}

/*Class*/

.banner-logo {
	display: block;
	margin:0 auto;
	width:90%; 
}

.header {
    	
   	background-color: #0b57a3;
	margin: 0; 
	padding: 30px 0;
	text-align: center;
   }
